:root {
    --bg: #28292a;
    --fr: #cfcecb;
    --main: #158a7e;
    --mainDark: #1e998d;
    --mainDarker: rgb(25, 119, 110);
    --mainLight: #b6d6d3;
}
body {
    background-color: var(--bg);
    color: var(--fr);
}
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
* {
    box-sizing: border-box;
}
button {
    background-color: var(--main);
    cursor: pointer;
    border: none;
    border-radius: 0.1vw;
    font-size: 2.2rem;
}
input {
    font-size: 2rem;
}
form {
    margin: 2vw;
}
.floatRight {
    float: right;
}
.navItems {
    cursor: pointer;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
}
.navItem {
    display: inline-block;
    margin: 0vw 0.2vw;
    color: var(--fr);
}
.navItem:hover {
    color: var(--mainLight);
}
.post {
    background-color: var(--mainDarker) !important;
    border-radius: 2vw;
    padding: 1vw;
    margin: 0.3vh;
}
.post:hover {
    background-color: var(--main) !important;
    cursor: pointer;
}
.nav {
    font-size: 2rem;
    background-color: var(--mainDark);
}
.post {
    background-color: var(--mainDark);
    width: 100%;
}
.goBack {
    font-size: 3rem;
}
.bigButton {
    font-size: 10rem;
}
.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    grid-auto-rows: minmax(100px, auto);
}
