:root {
    --bg: #28292a;
    --fr: #cfcecb;
    --main: #158a7e;
    --mainDark: #1e998d;
    --mainLight: #b6d6d3;
}
body {
    background-color: var(--bg);
    color: var(--fr);
}
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
* {
    box-sizing: border-box;
}
button {
    background-color: var(--main);
    cursor: pointer;
    border: none;
    border-radius: 1vw;
    font-size: 2rem;
}
input {
    font-size: 2rem;
}
form {
    margin: 2vw;
}
.floatRight {
    float: right;
}
.navItems {
    margin: 0vw auto;
    color: var(--fr);
}
.navItems:hover {
    color: var(--mainLight);
}
.post {
    background-color: var(--mainLight);
    border-radius: 2vw;
    padding: 1vw;
    margin: 0.3vh;
}
.nav {
    font-size: 2rem;
    background-color: var(--mainDark);
}
.post {
    background-color: var(--mainDark);
    width: 20%;
}
.goBack {
    font-size: 3rem;
}
.bigButton {
    font-size: 10rem;
}
